@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

a{
  text-decoration: none;
}

#header{
  height: 4rem;
  background-color: #4e5c69;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
}

.menu a{
  color: white;
  padding: 0 1rem;
  font-size: 1.5rem;
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
}

.menu a:hover{
  background-color: #d83957;
  padding-top: 100%;
  padding-bottom: 1.06rem;
}



#main{
  background-color: #344074;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


#introducao{
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #b97479;
  height: 100vh;
  width: 100%;
}

#introducao h1{
  color: #e6e6e6;
  font-size: 3.5rem;
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.438);
}

#introducao h2{
  color: #38515f;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}


#portifolio{
  padding-bottom: 5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#portifolio .titulo-portifolio{
  width: 50%;
  color: white;
  font-size: 1.8rem;
  text-align: center;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  padding-top: 5rem;
  border-bottom: 1px solid white;
  padding-bottom: 1rem;
  margin-bottom: 3rem;
}

#portifolio .sites-portifolio{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}

#portifolio .sites-portifolio img{
  width: 100%;
  height: 85%;
}

#portifolio .sites-portifolio a{
  background-color: rgba(0, 0, 0, 0.438);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.671);
  width: 30rem;
  height: 25rem;
}

#portifolio .sites-portifolio a p{
  padding: 1rem;
}

#footer{
  background-color: #d83957;
  height: 101vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#footer h2{
  color: white;
  font-size: 5rem;
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
  margin-bottom: 1rem;
}

.links-contato{
  display: flex;
}

#footer a{
  color: white;
  font-size: 1.7rem;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  margin: 0 1rem;
  font-weight: 100;
}

@media(max-width: 1000px){
  #portifolio .sites-portifolio{
    display: flex;
    flex-direction: column;
  }
}

@media(max-width: 553px){
  #portifolio .sites-portifolio a{
    width: 90%;
  }

  #portifolio .sites-portifolio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .links-contato{
    flex-direction: column;
  }

  .links-contato a{
    padding: 1rem 0;
  }
}

@media(max-width: 453px){
  #footer h2{
    font-size: 3rem;
  }
  #portifolio .sites-portifolio a{
    height: 90%;
  }
}

@media(max-width: 325px){
  .menu a{
    font-size: 1rem;
  }
}